In [1]:
import pandas as pd

In [2]:
course_columns = [
    'id',
    'name',
    'category',
    'credits',
    'taken',
    'grade'
]

course_data = [
    'ITC 315',
    'Software Engineering',
    'Concentration',
    3,
    'True',
    'A'
]

In [3]:
degreeplan_columns = [
    'major',
    'year',
    'concentration',
    'total_credits',
    'total_courses',
    'general_credits',
    'core_credits',
    'concentration_credits'
]

degreeplan_data = [
    'Information Technology',
    '2018',
    'Software Engineering',
    120, 40, 60, 51, 9
]

In [4]:
student_columns = [
    'id',
    'name',
    'lastname',
    'email',
    'username',
    'password',
    'advisor',
    'advisor_email'
]

student_data = [
    38786,
    'Rahmat',
    'Azad',
    'rahmat.azad@auaf.edu.af',
    'rhmtazad',
    'eyePatch17',
    'Dr. Ala Abdulhakim Abdulaziz',
    'ala@auaf.edu.af'
]

In [5]:
class UniProgCSV:
    def __init__(self, columns, index, file):
        self.columns = columns
        self.index = index
        self.file = file

    @property
    def columns_df(self):
        return pd.DataFrame(columns=self.columns).set_index(self.index)

    def data_df(self, data):
        return pd.DataFrame([data], columns=self.columns).set_index(self.index)

    def read(self):
        try:
            return pd.read_csv(f'{self.file}.csv', index_col=self.index)
        except FileNotFoundError:
            self.save(self.columns_df)
            return pd.read_csv(f'{self.file}.csv', index_col=self.index)

    def save(self, indexed_df):
        indexed_df.to_csv(f'{self.file}.csv')

    def append(self, data):
        self.save(self.read().append(self.data_df(data)))

In [6]:
courses = UniProgCSV(columns=course_columns, index='id', file='courses')

In [7]:
courses.columns

['id', 'name', 'category', 'credits', 'taken', 'grade']

In [8]:
courses.columns_df

Empty DataFrame
Columns: [name, category, credits, taken, grade]
Index: []

In [9]:
courses.read()

                         name       category  credits  taken grade
id
ITC 315  Software Engineering  Concentration        3   True    B+
ITC 315  Software Engineering  Concentration        3   True     A

In [10]:
courses.append(course_data)

In [11]:
courses.read()

                         name       category  credits  taken grade
id
ITC 315  Software Engineering  Concentration        3   True    B+
ITC 315  Software Engineering  Concentration        3   True     A
ITC 315  Software Engineering  Concentration        3   True     A