In [1]:
course_columns = ['id', 'name', 'category', 'credits', 'taken', 'grade']

In [2]:
course_data = ['ITC 315', 'Software Engineering', 'Concentration', 3, 'True', 'A']

In [3]:
degreeplan_columns = ['major', 'year', 'conc', 'credits', 'courses', 'gen_credits', 'core_credits', 'conc_credits']

In [4]:
degreeplan_data = ['Information Technology', '2018', 'Software Engineering', 120, 40, 60, 51, 9]

In [5]:
student_columns = ['id', 'name', 'lastname', 'email', 'username', 'password', 'advisor', 'advisor_email']

In [6]:
student_data = [ 38786, 'Rahmat', 'Azad', 'me@gmail.com', 'rhmtazad', 'eyePatch', 'Dr. Ala', 'ala@gmail.com']

In [7]:
import pandas as pd
from dataclasses import dataclass, field


@dataclass(order=True)
class CSVFile:
    index: str
    file: str
    columns: list[str] = field(default_factory=list)
        
    def __post_init__(self):
        self.save(self.columns_df)

    @property
    def columns_df(self):
        return pd.DataFrame(columns=self.columns).set_index(self.index)

    def data_df(self, data):
        return pd.DataFrame([data], columns=self.columns).set_index(self.index)

    def read(self):
        return pd.read_csv(f'{self.file}.csv', index_col=self.index)

    def save(self, indexed_df):
        indexed_df.to_csv(f'{self.file}.csv')

    def insert(self, data):
        self.save(self.read().append(self.data_df(data)))

In [8]:
courses_csv = CSVFile(columns=course_columns, index='id', file='courses')

In [9]:
courses = pd.DataFrame(courses_csv.read(), columns=courses_csv.columns).set_index(courses_csv.index)

In [10]:
courses

Empty DataFrame
Columns: [name, category, credits, taken, grade]
Index: []

In [11]:
degreeplan_csv = CSVFile(columns=degreeplan_columns, index='major', file='degreeplan')

In [12]:
degreeplan = pd.DataFrame(degreeplan_csv.read(), columns=degreeplan_csv.columns).set_index(degreeplan_csv.index)

In [13]:
degreeplan

Empty DataFrame
Columns: [year, conc, credits, courses, gen_credits, core_credits, conc_credits]
Index: []

In [14]:
student_csv = CSVFile(columns=student_columns, index='id', file='student')

In [15]:
student = pd.DataFrame(student_csv.read(), columns=student_csv.columns).set_index(student_csv.index)

In [16]:
student

Empty DataFrame
Columns: [name, lastname, email, username, password, advisor, advisor_email]
Index: []